.form-control{
    margin-top: 10px;
   
}

.btn-outline-secondary{
    margin-top: 10px;
    margin-right: 20px;
}

.input-box{
    height: 600px;
    border: 1px solid black;
}
.admin-button {
    border: none;
    background: none;
  }

.logout-button{
    border: none;
    background: none;
}


.sent-message {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.reply-message {
    background-color: #ddf1dd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

  